<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Committees</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item container1">
                            <a href="/committees/sc">
                                <%= image_tag "SC.jpg", class: "img-portfolio img-responsive image1" %>
                                  <div class="overlay">
                                    <div class="text"><h2>Security Council</h2></div>
                                    </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item container1">
                            <a href="/committees/soc">
                                <%= image_tag "SOCHUM.jpg", class: "img-portfolio img-responsive image1" %>
                                    <div class="overlay">
                                    <div class="text"><h2>Social, Humanitarian, and Cultural Council</h2></div>
                                    </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item container1">
                            <a href="/committees/env">
                                <%= image_tag "EC.jpg", class: "img-portfolio img-responsive image1" %>
                                    <div class="overlay">
                                    <div class="text"><h2>Environmental Council</h2></div>
                                    </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item container1">
                            <a href="/committees/eu">
                                <%= image_tag "EU.jpg", class: "img-portfolio img-responsive image1" %>
                                    <div class="overlay">
                                    <div class="text"><h2>European Union Council</h2></div>
                                    </div>
                            </a>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="portfolio-item container1">
                            <a href="/committees/disarm">
                                <%= image_tag "Dis.jpg", class: "img-portfolio img-responsive image1" %>
                                    <div class="overlay">
                                    <div class="text"><h2>Disarmament Council</h2></div>
                                    </div>
                            </a>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="portfolio-item container1">
                            <a href="/committees/hist">
                                <%= image_tag "HC.jpg", class: "img-portfolio img-responsive image1" %>
                                    <div class="overlay">
                                    <div class="text"><h2>Historical Council</h2></div>
                                    </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
